
.contactForm{
    width: 70%;
    margin: 0 auto;
}
.contact{
  margin-top: 6rem;
}

.contactForm label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.contactForm input,
.contactForm textarea{
    width: 100%;
    border: 1px solid rgb(137, 135, 236);
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.05);
    color: #e0e0e0;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.projHeader{
    text-align: center;
    margin-bottom: 1rem;
  }
  .projHeader h1{
    font-size: 4rem;
    font-weight: 500;
    color: rgb(137, 135, 236)
  }
  .projHeader h6{
    font-size: 1.5rem;
    font-weight: 200;
  }
  .submitBtn{
    color: white !important;
  }

@media (max-width: 800px) {
    .contactForm {
        width: 90%;
    }
    .projHeader h1 {
        font-size: 3rem;
    }
}