
.contactForm{
    width: 70%;
    margin: 0 auto;
}
.contact{
  margin-top: 10rem;
}

.contactForm label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.projHeader{
    text-align: center;
    margin-bottom: 1rem;
  }
  .projHeader h1{
    font-size: 4rem;
    font-weight: 500;
    color: rgb(103, 101, 244)
  }
  .projHeader h6{
    font-size: 1.5rem;
    font-weight: 200;
  }
  .submitBtn{
    color: white !important;
  }